.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: "Barlow", sans-serif;
  letter-spacing: 8px;
  margin-bottom: 0;
}

.App-link {
  color: #61dafb;
}

p {
  width: 90%;
  font-size: 1rem;
  margin-top: 0;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: aqua;
}

.wrapper {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 1042px) {
  .wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 1900px) {
  .wrapper {
    width: 40%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}